.restaurants {
    width: 1440px;
    margin: 0 auto;
    background-color: #eae9f0;
}

.restaurant-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 20px;
}

.restaurant-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d4d8db;
    box-shadow: 0px 0px 15px -5px #777777;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-card:hover {
    background-color: #91ebdc;
}

.restaurant-name {
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    background-color: #4a6279;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.restaurant-card p {
    font-size: 16px;
    color: #2b2b2b;
    padding: 0;
    margin: 5px;
    text-align: center;
}

