<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}NAGOMESHI | 名古屋のグルメ情報{% endblock %}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/components/search_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- ====== ヘッダー ====== -->
    {% include "components/header.html" %}


    <!-- ====== メインコンテンツ ====== -->
    <main>
        <div class="container">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% block main %}
            {% endblock %}
        </div>
    </main>

    {% block extra_js %}{% endblock %}

    <!-- ====== フッター ====== -->
    {% include "components/footer.html" %}

    {% block scripts %}{% endblock %}
</body>

</html>